In [17]:
import math

In [18]:
result = math.sqrt(49)

In [19]:
print(result)

7.0

In [20]:
name="Brad"

In [21]:
group = ["Matthew", "Mark", "Luke"]

In [22]:
type(group)

list

In [23]:
n=5

In [24]:
list1 = [1,3,5,7,9,11,14,16,18]

In [25]:
type(list1)

list

In [26]:
print(list1[0])
print(list1[1])
print(list1[2])

1
3
5

In [28]:
list1[0] = 150
print(list1[0])
print(list1[1])
print(list1[2])
print(list1)

150
3
5
[150, 3, 5, 7, 9, 11, 14, 16, 18]

In [29]:
list2 = [True, "sonship", 55, 33.3, False, -44.4]
print(list2)

[True, 'sonship', 55, 33.3, False, -44.4]

In [38]:
tupleBirth1 = ("Julia", "Texas Childrens Hospital", "Fort Worth", "Texas", "United States", "05/05/2015", "12:12")
tupleBirth2 = ("Judah", "Texas Childrens Hospital", "Fort Worth", "Texas", "United States", "03/03/2023", "23:23")
tupleBirth3 = ("Joshua", "Texas Childrens Hospital", "Fort Worth", "Texas", "United States", "02/22/2022", "22:22")
type(tupleBirth1)
print(tupleBirth1) 
print(tupleBirth2) 
print(tupleBirth3) 
print(tupleBirth1[0]) 
print(tupleBirth2[0]) 
print(tupleBirth3[0])

('Julia', 'Texas Childrens Hospital', 'Fort Worth', 'Texas', 'United States', '05/05/2015', '12:12')
('Judah', 'Texas Childrens Hospital', 'Fort Worth', 'Texas', 'United States', '03/03/2023', '23:23')
('Joshua', 'Texas Childrens Hospital', 'Fort Worth', 'Texas', 'United States', '02/22/2022', '22:22')
Julia
Judah
Joshua

In [39]:
tupleBirth1[0]="Jehovah"

TypeError: 'tuple' object does not support item assignment

In [ ]:
print("SECTION 5")

In [41]:
raining = input("Is it raining? (yes/no)")
if raining == "yes":
    print("You need an umbrella!")

Is it raining? (yes/no)yes
You need an umbrella!

In [47]:
n = input("Choose an integer between -10 and 10. Enter it here: ")
n = int(n)
if n < 5:
    print("The integer you chose is less than 5")
if n == 5:
    print("The integer you chose is equal to 5")
if n > 5: 
    print("The integer you chose is greater than 5")

Choose an integer between -10 and 10. Enter it here: 7
The integer you chose is greater than 5

In [ ]:
def minimum(x,y):
    if x < y:
        return x
    else:
        return y